In [3]:
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns

import numpy as np
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.model_selection import GridSearchCV

In [4]:
df = pd.read_csv('InputData.csv')

In [5]:
df['lifestyle'] = pd.factorize(df['lifestyle'])[0]
df['family status'] = pd.factorize(df['family status'])[0]
df['car'] = pd.factorize(df['car'])[0]
df['sports'] = pd.factorize(df['sports'])[0]
df['Living area'] = pd.factorize(df['Living area'])[0]
df['label'] = pd.factorize(df['label'])[0]

In [6]:
df.shape

(10000, 10)

In [7]:
y = df['label'].values
df.drop(['name','label'], axis=1, inplace=True)
df.head()

,age,lifestyle,zip code,family status,car,sports,earnings,Living area
0,62.0,0,50168.0,0,0,0,102526.0,0
1,34.0,1,66479.0,0,1,1,33006.0,0
2,69.0,2,16592.0,1,1,2,118760.0,0
3,57.0,0,50068.0,0,0,1,131429.0,0
4,66.0,0,35988.0,1,0,2,96003.0,0

In [8]:
X = df.values
X
# y = df.iloc[:,9].values

array([[6.20000e+01, 0.00000e+00, 5.01680e+04, ..., 0.00000e+00,
        1.02526e+05, 0.00000e+00],
       [3.40000e+01, 1.00000e+00, 6.64790e+04, ..., 1.00000e+00,
        3.30060e+04, 0.00000e+00],
       [6.90000e+01, 2.00000e+00, 1.65920e+04, ..., 2.00000e+00,
        1.18760e+05, 0.00000e+00],
       ...,
       [2.50000e+01, 2.00000e+00, 8.74130e+04, ..., 1.00000e+00,
        8.68110e+04, 1.00000e+00],
       [6.70000e+01, 0.00000e+00, 6.14660e+04, ..., 0.00000e+00,
        7.69450e+04, 0.00000e+00],
       [6.90000e+01, 2.00000e+00, 9.08160e+04, ..., 0.00000e+00,
        1.49683e+05, 1.00000e+00]])

In [9]:
poly = PolynomialFeatures(degree=7)
X_poly = poly.fit_transform(X)

In [10]:
X_poly.shape

(10000, 6435)

In [11]:
C = 1e4
logit = LogisticRegression(C=C, random_state=17)
logit.fit(X_poly, y)

LogisticRegression(C=10000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=17,
          solver='warn', tol=0.0001, verbose=0, warm_start=False)

In [12]:
print("Accuracy on training set:", 
      round(logit.score(X_poly, y), 3))

Accuracy on training set: 0.638